:root {
    --left-size: 40vw;
    --right-size: 60vw;
    --primary-color: #5eb458;
    --secondary-color: #0080cb;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Regular.ttf);
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Bold.ttf);
    font-weight: bold;
    font-size: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, sans-serif;
    font-size: clamp(12px, 1rem, 1.3rem);
    font-weight: normal;
    line-height: 1.7rem;
}

.container {
    display: flex;
}

#left {
    background: url("../assets/img/casey-horner-4rDCa5hBlCs-unsplash.png") no-repeat;
    background-size: cover;
    background-position: 50%;
    width: var(--left-size);
    height: 100vh;
    position: relative;
}

a {
    color: var(--primary-color);
    font-weight: bold;
}

a:hover {
    color: var(--secondary-color);
}

#banner, #credit {
    width: 100%;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center; 
    align-items: center;
}

#banner {
    height: 15vh;
    position: absolute;
    top: 15%;
    color: #fff;
}

#credit {
    position: absolute;
    bottom: 0;
    height: 5vh;
    color: #fff;
}

#banner img {
    width: 25%;
}

#right{
    width: var(--right-size);
    background-color: rgba(238, 238, 238, .3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#right a {
    text-decoration: none;
}

#intro, #login {
    padding: 10px 40px;
}

#intro {
    text-align: justify;
}

figure {
    border-left: 4px solid var(--primary-color);
    margin: 10px 0;
}

blockquote {
    padding: 8px;
    color: var(--primary-color);
    font-weight: bold;
}

blockquote p::before {
    content: '\201c';
    font-size: 50px;
    display: block;
    font-family: 'Gill Sans', sans-serif;
}

figcaption {
    font-weight: bold;
    text-align: end;
}

figcaption::before {
    content: "\2014\0020";
}

form {
    width: 100%;
    margin: 40px 0 0;
    padding: 30px 40px;
    font-size: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px #ccc;
    display: flex;
    gap: 40px;
}

#form-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

#form-infos {
    font-size: .8rem;
    color: #ccc;
    display: flex;
    align-items: flex-end;
}

.form-row {
    display: flex;
    gap: 10px;
}

label, input {
    display: block;
}

label {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
}

label span {
    font-size: 1.1rem;
    font-weight: bold;
    color: red;
}

input, button {
    outline: none;
}

input {
    height: 40px;
    width: 250px;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    padding: 8px;
    font-size: .9rem;
}

input:required {
    border: 1px solid #000;
}

input:focus {
    border: 2px solid var(--secondary-color);
    box-shadow: 0 3px 5px #E5E7EB;
}

input:valid:not(:placeholder-shown) {
    background: url(../assets/icons/check-circle-solid.svg) no-repeat;
    background-size: 18px;
    background-position: 97% 50%;
}

input:invalid:not(:placeholder-shown){
    border: 1px solid red;
}

.feedback {
    font-size: .7rem;
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
}

.feedback img {
    width: .8rem;
}

input:invalid:not(:placeholder-shown) ~ .feedback {
    font-size: .7rem;
    max-height: 1rem;
    color: red;
    overflow: visible;
}

button {
    width: 200px;
    height: 40px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 3px;
    margin: 20px 0 10px;
}

button:hover {
    border: none;
    background-color: var(--secondary-color);
}